<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
    <setting name="logImpl" value="STDOUT_LOGGING"/>
  </settings>
  <environments default="composite-reuse">
    <environment id="composite-reuse">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://aliyun.chengdu.mysql.jackiegu.cn:3306/test?useSSL=false&amp;useUnicode=true&amp;characterEncoding=UTF-8"/>
        <property name="username" value="test"/>
        <property name="password" value="1$=testYuan"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="cn/jackiegu/oop/design/principle/composite/reuse/UserMapper.xml"/>
  </mappers>
</configuration>
